a {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

.produits {
	position: relative;
	margin: 0 auto;
	margin-left: 5%;
}

.title{
	position: relative;
	margin: 0 auto;
	margin-left: 3%;
	margin-top: 3%;
	text-decoration: underline;
	font-size: 2em;
}

/*figure {
	position: relative;
	padding: 2%;
}

figcaption {
	position: relative;
	padding: 2%;
}*/

#deconnexion {
	position: relative;
	margin: 0 auto;
	margin-left: 5%;
	font-family:'Julius Sans One', sans-serif;
}

p {
	font-family:'Julius Sans One', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

.mdl-card__actions {
	background: #8e838a; 
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
.page-content {
	
	font-family:'Julius Sans One', sans-serif;
}

.demo-card-event > .mdl-card > .mdl-shadow--2dp {
	position: relative;
	padding: 5%;
}

.demo-card-event.mdl-card {
  width: 350px;
  height: 350px;
  background: #999597;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}