.produits {
	position: relative;
	margin: 0 auto;
	margin-left: 5%;
}

.title{
	position: relative;
	margin: 0 auto;
	margin-left: 3%;
}

figure {
	position: relative;
	padding: 2%;
}

figcaption {
	position: relative;
	padding: 2%;
}

#deconnexion {
	position: relative;
	margin: 0 auto;
	margin-left: 5%;
	font-family:'Julius Sans One', sans-serif;
}

p {
	font-family:'Julius Sans One', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}